*{
    margin:0;
    padding:0;
    box-sizing: border-box;
	font-family: arial;
}
header{
    display:flex;
    justify-content:space-around;
}
header #logo{
    width:20vw;
    height: 18vw;
}
header #logo img{
    width:100%;
    height: 100%;
}
header #ident{
    padding-top: 4vw;
    width:50vw;
}
header #ident h1{
    font-size: 5vw;
    text-align:center;
    padding-top: 3vw;
    padding-right: 10vw;
}
nav{
	position: absolute;
	margin-top: 18vw;
	text-align: center;
	background-color: #4B6088;
	width: 50vw;
}
nav ul li{
	list-style: none;
	border-bottom: 1px solid black;
	font-size: 4vw;
	padding-top: 4vh;
	padding-bottom: 2vw;	
}
header{
    background-color: #4B6088
}
header #icon-menu{
    width:10vw;
    padding-left: 0.1vw;
}
header #icon-menu img{
    width:100%;
}
body{
    background-color: black;
}
main img{
    width: 50vw;
    height: 60vw;
    float: left;
    padding: 1vw;
    border-radius: 8vw;
    border-top: 5vw;
    padding-bottom: 4vw;
	display:inline-block;
}
main img:hover{
   transform: scale(1.1);
}
main #titulo{
    font-size: 4vw;
    text-align: center;
    color: white;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
footer{
    background-color: #676564;
    height: 5vw;
    bottom: 0;
    width: 100vw;
    position: fixed;
}
footer p{
    color: black;
    text-align: center;
    font-style: none;
}
@media only screen and (min-device-width: 500px){
    main img{
        width: 33vw;
        height: 50vw;
        float: left;
        padding: 1vw;
        border-radius: 8vw;
        border-top: 5vw;
        padding-bottom: 4vw;
    }
    footer{
        height: 3vw;
    }
}
@media only screen and (min-device-width: 600px){
    header{
        height: 12vw;
    }
    header #icon-menu{
        width:7vw;
    }
    header #icon-menu img{
        width:100%;
    }
    header #logo{
        width: 20vw;
        height: 12vw;
    }
    header #ident h1{
        font-size: 4vw;
        text-align:center;
        padding-top: 1vw;
        padding-right: 12vw;
    }
    nav{
        margin-top: 10vw;
    }
@media only screen and (min-device-width: 750px){
    header{
        height: 10vw;
    }
    header #icon-menu{
        width:8vw;
    }
    header #icon-menu img{
        width:100%;
    }
    header #logo{
        width: 15vw;
        height: 10vw;
    }
    header #ident h1{
        font-size: 3vw;
        text-align:center;
        padding-top: 0.1vw;
        padding-right: 6.5vw;
    }   
    main #titulo{
        font-size: 2vw;
    }
    main img{
        width: 33vw;
        height: 55vw;
        float: left;
        padding: 1vw;
        border-radius: 8vw;
        border-top: 5vw;
        padding-bottom: 4vw;
    }
    footer{
        height: 2vw;
    }
    nav{
        height: 18.2vw;
    }
    nav ul li{
        font-size: 2vw;
        padding-top: 0.1vw;
        padding-bottom: 0.1;
    }
}
@media only screen and (min-device-width: 1000px){
    main img{
        width: 24.4vw;
        height: 40vw;
        float: left;
        padding: 1vw;
        border-radius: 8vw;
        border-top: 5vw;
        padding-bottom: 4vw;
    }
    footer{
        height: 1.4vw;
    }
    nav{
        height: 18vw;
    }
    header #ident h1{
        padding-right: 7.5vw;
    }
}
@media only screen and (min-device-width: 1350px){
    header #icon-menu{
        width:4vw;
    }
    header #icon-menu img{
        width:100%;
    }
    header #ident h1{
        padding-right: 11vw;
    }
    main img{
        width: 25vw;
        height: 40vw;
    }
    nav{
        height: 17.9vw;
    }
    
}
@media only screen and (min-device-width: 1650px){
    main img{
        width: 25vw;
        height: 40vw;
        border-radius: 0;
    }
    footer{
        height: 1vw;
    }
    nav{
        height: 17.8vw;
    }
}
@media only screen and (min-device-width: 1850px){
    header #ident h1{
        padding-right: 11.5vw;
    }
    main img{
        width: 24.8vw;
        height: 34vw;
    }
}